.bigbox {
  justify-content: center;
  display: flex;
  max-width: 960px;
  max-height: 960px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: fit-content;
  margin: 20px;
}
